<!DOCTYPE html>
{% extends "basic_app/base.html" %}
  {% load %}
    {% block body_block %}
    <h1>HUO YINGDONG PROFILE</h1>
    <!-- <h2>This is index.html page showing!</h2> -->
    <h5>Content & Promotion Manager | iFree Group | 2019.6 to now | Guangzhou</h5>
    <h6>Promotion Planning</h6>
    <p>Plan promotion events for online travel booking, translate app UI in English, and other content. Manage to create up to 3 promotions monthly and monitor product lifecycle via data from GA and improve future promotion,</p>
    <h6>Content Management</h6>
    <p>  Follow up on the latest trends, do market research and analysis, and provide content planning. Collaborate and communicate efficiently with the product team, dev team, and design team. Responsible for EDM, Facebook, Instagram content. Keep up with 1 EDM and up to 4 posts weekly. Successfully increased followers by 450%,</p>
    <h6>Channel Promotion</h6>
    <p>Responsible for personalized planning. Provide content that fit each channel standard and user type. Make sure to follow up with planning and execution. Improve constantly channels through data analysis.</p>
    <h6>Customer Research</h6>
    <p>Improve customer experience using surveys, interviews, and other methods to gather user suggestions and need and follow up with implementation or change.</p>
    <h6>Site related to my working place and platform
    iFree Group site <a href="www.ifreegroup.com">www.ifreegroup.com</a> ebbly online booking site <a href="www.ebbly.com">www.ebbly.com</a></h6>
    {% endblock %}
